.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem 0rem;
}
.chatBar {
  width: 80%;
}
.submitButton {
  line-height: 3.5rem;
  margin: 0 0.5rem;
}
.lastQuestion {
  background: #ddffee;
}
.result {
  background: #ddeeff;
}
.lastQuestion, .result {
  border-radius: 10px;
  font-size: 1.2rem;
  margin-top: 2rem;
  padding: 16px;
  width: 100%;
}
@media (max-width: 600px) {
    .title {
      font-size: 1.5rem;
    }
    .chatBar {
      width: 100%;
    }
    .submitButton {
      line-height: 3rem;
      margin: 0;
    }
    .lastQuestion, .result {
      font-size: 1rem;
      margin-top: 1rem;
    }
}
