.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.leftColumn {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 1rem;
}
.rightColumn {
  grid-column-start: 3;
  grid-column-end: 4;
  margin: 1rem;
}

